<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="icon" href="https://getbootstrap.com/favicon.ico"> -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.material.min.css">

  <!-- Font-awesome
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   -->



  <title>Catalog of Circumstellar Disks</title>

  <style>
    body {
      padding-top: 3.5rem;
    }
  </style>
</head>
<body>

    {% include "nav.html" %}

    <main role="main">

    {% block content %}{% endblock content %}

    </main>

    <footer class="container">
      <p>&copy; Ruoyan Wang 2019</p>
    </footer>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.material.min.js"></script>

  {% block js %}{% endblock js %}

</body>
</html>
