<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="icon" href="https://getbootstrap.com/favicon.ico"> -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.material.min.css">

  <!-- Font-awesome
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   -->

  <title>Catalog of Circumstellar Disks</title>

  <style>
    body {
      padding-top: 0rem;
    }
    h1, h2, h3 {
      margin-left: 0.4em;
    }
    footer {
      margin-left: 1em;
    }
  </style>
</head>

<body>

  {% include "nav.html" %}

  <main role="main">

    {% block content %}{% endblock content %}

  </main>

  <footer class="container">
    <p>
      <script>
        var time = document.lastModified;
        document.write(
          "Created by Ruoyan Wang. Last updated at " +
          time + ".");
      </script><br />
      This table makes uses of <a href="https://datatables.net/" target="_blank">DataTables</a>
        and <a href="https://www.djangoproject.com/" target="_blank">Django</a>.
        References include <a href="https://webdisks.jpl.nasa.gov/index.php" target="_blank">NASA disk catalogs</a>
        and <a href="https://ui.adsabs.harvard.edu/abs/2018A%26A...620A..94G/abstract" target="_blank">Garufi et al. (2018)</a>.
    </p>
  </footer>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.material.min.js"></script>

  {% block js %}{% endblock js %}

</body>

</html>
