<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<link rel="icon" href="https://getbootstrap.com/favicon.ico"> -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.material.min.css">

  <!-- Font-awesome
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   -->



  <title>Catalog of Circumstellar Disks</title>

  <style>
    body {
      padding-top: 3.5rem;
    }
  </style>
</head>
<body>

    {% include "nav.html" %}

    <main role="main">

    {% block content %}{% endblock content %}

    </main>

    <footer class="container">
      <p><script
      type="text/JavaScript"
      language="JavaScript">
      <!--
      //
      // format date as dd-mmm-yy
      // example: 12-Jan-99
      //
      function date_ddmmmyy(date)
      {
        var d = date.getDate();
        var m = date.getMonth() + 1;
        var y = date.getYear();

        // handle different year values
        // returned by IE and NS in
        // the year 2000.
        if(y >= 2000)
        {
          y -= 2000;
        }
        if(y >= 100)
        {
          y -= 100;
      }

        // could use splitString() here
        // but the following method is
        // more compatible
        var mmm =
        ( 1==m)?'Jan':( 2==m)?'Feb':(3==m)?'Mar':
        ( 4==m)?'Apr':( 5==m)?'May':(6==m)?'Jun':
        ( 7==m)?'Jul':( 8==m)?'Aug':(9==m)?'Sep':
        (10==m)?'Oct':(11==m)?'Nov':'Dec';

        return "" +
        (d<10?"0"+d:d) + "-" +
        mmm + "-" +
        (y<10?"0"+y:y);
        }

        //
        // get last modified date of the
        // current document.
        //
        function date_lastmodified()
        {
          var lmd = document.lastModified;
          var s   = "Unknown";
          var d1;

          // check if we have a valid date
          // before proceeding
          if(0 != (d1=Date.parse(lmd)))
          {
            s = "" + date_ddmmmyy(new Date(d1));
          }

          return s;
        }

        //
        // finally display the last modified date
        // as DD-MMM-YY
        //
        document.write(
          "Created by Ruoyan Wang. Last updated " +
          date_lastmodified() + ".");

          // -->
      </script></p>
    </footer>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.material.min.js"></script>

  {% block js %}{% endblock js %}

</body>
</html>
