{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h2>Catalog of Circumstellar Disks </h2>
    <p>Table created using <a href="https://datatables.net/" target="_blank">DataTables</a>
      and
      <a href="https://www.djangoproject.com/" target="_blank">Django</a>.
      Table referenced <a href="https://webdisks.jpl.nasa.gov/index.php" target="_blank">NASA disk catalogs</a>
      and
      <a href="https://ui.adsabs.harvard.edu/abs/2018A%26A...620A..94G/abstract" target="_blank">Garufi et al. (2018)</a>.
    </p>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table id="diskTable" class="mdl-data-table" style="width:100%">
        <thead>
          <tr>
            <th>Object</th>
            <th>Category</th>
            <th>Spec Type</th>
            <th>R band (mag)</th>
            <th>Distance <br />(pc)</th>
            <th>Disk Major Axis</th>
            <th>Inclination <br />(degrees)</th>
            <th>RA <br />(J2000)</th>
            <th>Dec <br />(J2000)</th>
            <th>System Age <br />(Myr)</th>
            <th>Stellar Mass <br />(M⊙)</th>
            <th>References</th>
          </tr>
        </thead>
        <tbody>
          {% for disk in disk_list %}
          <tr>
            <th>{{disk.object}}</th>
            <th>{{disk.category}}</th>
            <th>{{disk.spec_type}}</th>
            <th>{{disk.r_band}}</th>
            <th>{{disk.distance}}</th>
            <th>{{disk.disk_major_axis}}</th>
            <th>{{disk.inclination}}</th>
            <th>{{disk.ra}}</th>
            <th>{{disk.dec}}</th>
            <th>{{disk.system_age}}</th>
            <th>{{disk.stellar_mass}}</th>
            <th>{{disk.references}}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <hr>

</div> <!-- /container -->

{% endblock content %}

{% block js%}
<script>
  $(document).ready(function() {
    $('#diskTable').DataTable({
      columnDefs: [{
        targets: [0, 1, 2],
        className: 'mdl-data-table__cell--non-numeric'
      }]
    });
  });
</script>
{% endblock js%}
