{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h3> </h3>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table id="diskTable" class="mdl-data-table" style="width:100%">
        <thead>
          <tr>
            <th>Object</th>
            <th>Category</th>
            <th>Spec Type</th>
            <th>R band (mag)</th>
            <th>Distance <br />(pc)</th>
            <th>Disk Major Axis</th>
            <th>Inclination <br />(degrees)</th>
            <th>RA <br />(J2000)</th>
            <th>Dec <br />(J2000)</th>
            <th>System Age <br />(Myr)</th>
            <th>Stellar Mass <br />(M⊙)</th>
            <th>References</th>
          </tr>
        </thead>
        <tbody>
          {% for disk in disk_list %}
          <tr>
            <th>{{disk.Object}}</th>
            <th>{{disk.Category}}</th>
            <th>{{disk.SpecType}}</th>
            <th>{{disk.Rband}}</th>
            <th>{{disk.Distance}}</th>
            <th>{{disk.DiskMajorAxis}}</th>
            <th>{{disk.Inclination}}</th>
            <th>{{disk.RA}}</th>
            <th>{{disk.DEC}}</th>
            <th>{{disk.SystemAge}}</th>
            <th>{{disk.StellarMass}}</th>
            <th>{{disk.References}}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <hr>

</div> <!-- /container -->

{% endblock content %}

{% block js%}
<script>
  $(document).ready(function() {
    $('#diskTable').DataTable({
      columnDefs: [{
        targets: [0, 1, 2],
        className: 'mdl-data-table__cell--non-numeric'
      }]
    });
  });
</script>
{% endblock js%}
