{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h2>Catalog of Circumstellar Disks </h2>
    <p>Table created using <a href="https://datatables.net/" target="_blank">DataTables</a> and <a href="https://www.djangoproject.com/" target="_blank">Django</a>. Table referenced <a href="https://webdisks.jpl.nasa.gov/index.php" target="_blank">NASA disk catalogs</a>.</p>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <table id="diskTable" class="ui celled table" style="width:100%">
        <thead>
          <tr>
            <th>Object</th>
            <th>Category</th>
            <th>RA (J200)</th>
            <th>Dec (J200)</th>
            <th>Distance (pc)</th>
            <th>System Age (Myr)</th>
            <th>Stellar Mass (M⊙)</th>
            <th>Disk Major Axis "</th>
            <th>Inclination (degrees)</th>
            <th>References</th>
            <th>Catalog</th>
          </tr>
        </thead>
        <tbody>
          {% for disk in disk_list %}
            <tr>
              <th>{{disk.object}}</th>
              <th>{{disk.category}}</th>
              <th>{{disk.ra}}</th>
              <th>{{disk.dec}}</th>
              <th>{{disk.distance}}</th>
              <th>{{disk.system_age}}</th>
              <th>{{disk.central_star_mass}}</th>
              <th>{{disk.disk_major_axis}}</th>
              <th>{{disk.inclination}}</th>
              <th>{{disk.references}}</th>
              <th>{{disk.catalog}}</th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <hr>

</div> <!-- /container -->

{% endblock content %}

{% block js%}
  <script>
    $(document).ready(function() {
        $('#diskTable').DataTable();
    } );
  </script>
{% endblock js%}
